/AppendNewBook.class
/CreateDOMParser.class
/GetBookTitle.class
/GetBookTitle2.class
/GetFirstBookInfo.class
/GetFirstBookInfo2.class
/GetFirstBookInfo3.class
/GetFirstBookKind.class
/GetFirstBookKind2.class
/GetFirstBookTitle.class
/GetLastBookPrice.class
/GetRootElement.class
/ModifyFirstBook.class
/RemoveFirstBook.class
/SaveDOMToFile.class
/XMLJFrame$1.class
/XMLJFrame.class
